//COLOR
$body-color: #5E6972;
$body-text: #000;
$light: rgba(255, 255, 255, 0.5);
$dark: #000;


$gunmetal: #2B303E;

$primary: #2b4172;
$secondary: #F5F5F5;
$warning: #F4DA92;
$success: #4BB543;
$danger :  #C90000;
$info : #1b222e;
$transparent: #ffffff;
$primary-half: #6cb1d2;

//border radius
$border-radius: 15px;
$border-radius-sm: 20px;
$border-radius-lg: 30px;

//base class variables
$transition-base: all .4s;
$transition-fast: all .2s ease-in-out;
$transition: all .4s ease-in-out;
$transition-slow: all .6s;

//FONTS
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-semibold: 700;
$font-weight-bolder: 800;
$font-weight-base: $font-weight-normal;

$min-contrast-ratio: 2.5;
$font-family-base: 'IRANSansXFaNum';
$font-size-base: 1rem * (14/16);
$small-font-size: .875rem  * (14/16);
$line-height-base: 1.5;
$line-height-lg: 1.7;
$enable-smooth-scroll: true;
$enable-negative-margins: true;
$stretched-link-z-index: 1;


//link
$link-decoration: none;
$link-hover-decoration: none;
$link-color: #262626;
//button
$btn-padding-x : 20px;
$btn-padding-y : 10px;

//$container-max-widths: (
//        sm: 540px,
//        md: 720px,
//        lg: 960px,
//        xl: 1140px,
//);